In [12]:
import pandas as pd
import glob
import csv
import os
import yfinance as yf

In [65]:
# import base data

QQQ_base = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\QQQ_base.csv')
TQQQ_base = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\TQQQ_base.csv')
SQQQ_base = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\SQQQ_base.csv')

In [66]:
# collect new data from yfinance, save as csv, then import new data

QQQ_new  = yf.download(tickers = "QQQ",  # list of tickers
            period = "1d",         # time period
            interval = "1m",       # trading interval
            prepost = True,       # download pre/post market hours data?
            repair = True)         # repair obvious price errors e.g. 100x?
QQQ_new.to_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\QQQ_new.csv')

TQQQ_new  = yf.download(tickers = "TQQQ",  # list of tickers
            period = "max",         # time period
            interval = "1m",       # trading interval
            prepost = True,       # download pre/post market hours data?
            repair = True)         # repair obvious price errors e.g. 100x?
TQQQ_new.to_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\TQQQ_new.csv')

SQQQ_new  = yf.download(tickers = "SQQQ",  # list of tickers
            period = "max",         # time period
            interval = "1m",       # trading interval
            prepost = True,       # download pre/post market hours data?
            repair = True)         # repair obvious price errors e.g. 100x?
SQQQ_new.to_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\SQQQ_new.csv')


QQQ_new = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\QQQ_new.csv')
TQQQ_new = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\TQQQ_new.csv')
SQQQ_new = pd.read_csv(r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance\yfinance data\SQQQ_new.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [86]:
# Assuming you have the QQQ_base and QQQ_new dataframes already defined

# Merge QQQ_base and QQQ_new on "Datetime"
merged_df = pd.merge(SQQQ_base, SQQQ_new, on="Datetime", suffixes=("_base", "_new"))

In [87]:
non_identical_rows = merged_df[merged_df['Open_base'] != merged_df['Open_new']]

print("Number of non-identical values:", len(non_identical_rows))
print(non_identical_rows)

Number of non-identical values: 15
                       Datetime  Open_base  High_base   Low_base  Close_base  \
149   2023-06-23 06:28:00-04:00  19.800000  19.810000  19.800000   19.810000
324   2023-06-23 09:38:00-04:00  19.990000  20.009899  19.980000   19.996799
377   2023-06-23 10:31:00-04:00  20.000000  20.037901  19.990101   19.997801
397   2023-06-23 10:52:00-04:00  20.084999  20.100000  20.049999   20.059999
699   2023-06-23 15:54:00-04:00  19.940001  19.990000  19.930000   19.985600
1300  2023-06-26 10:11:00-04:00  19.740000  19.770000  19.735001   19.770000
1332  2023-06-26 10:43:00-04:00  20.080000  20.080000  20.040001   20.052099
1640  2023-06-26 15:51:00-04:00  20.705500  20.725000  20.700001   20.700001
2288  2023-06-27 10:54:00-04:00  20.500000  20.510000  20.484200   20.490400
3239  2023-06-28 11:00:00-04:00  19.480000  19.490000  19.470100   19.475000
3416  2023-06-28 13:57:00-04:00  19.795401  19.825701  19.790001   19.815001
3539  2023-06-28 16:00:00-04:00  19.650000  19.670000  19.580000   19.580000
4034  2023-06-29 08:16:00-04:00  19.500000  19.510000  19.500000   19.510000
4608  2023-06-29 18:07:00-04:00  19.800000  19.800000  19.800000   19.800000
4611  2023-06-29 18:10:00-04:00  19.780000  19.780000  19.770000   19.770000

      Adj Close_base  Volume_base  Repaired?_base   Open_new   High_new  \
149        19.810000            0             NaN  19.810000  19.810000
324        19.996799       918803             NaN  20.000000  20.049999
377        19.997801       415179             NaN  20.010000  20.037901
397        20.059999       917521             NaN  20.075001  20.100000
699        19.985600       517895             NaN  19.930000  19.990000
1300       19.770000       880643             NaN  19.760000  19.770000
1332       20.052099       554586             NaN  20.090799  20.100000
1640       20.700001       469221             NaN  20.725401  20.739901
2288       20.490400       196830             NaN  20.529900  20.539900
3239       19.475000       831044             NaN  19.500000  19.510000
3416       19.815001       160628             NaN  19.790001  19.825701
3539       19.580000    123726795             NaN  19.660000  19.670000
4034       19.510000            0             NaN  19.510000  19.510000
4608       19.800000            0             NaN  19.790000  19.800000
4611       19.770000            0             NaN  19.790000  19.790000

        Low_new  Close_new  Adj Close_new  Volume_new  Repaired?_new
149   19.810000  19.810000      19.810000           0            NaN
324   19.980000  19.996799      19.996799      726021            NaN
377   19.990101  19.997801      19.997801      488379            NaN
397   20.049999  20.059999      20.059999      475784            NaN
699   19.930000  19.985600      19.985600      517895            NaN
1300  19.730200  19.770000      19.770000      545369            NaN
1332  20.040001  20.052099      20.052099      554586            NaN
1640  20.700001  20.700001      20.700001      368944            NaN
2288  20.484200  20.490400      20.490400      196830            NaN
3239  19.470100  19.475000      19.475000      831044            NaN
3416  19.790001  19.815001      19.815001      160628            NaN
3539  19.580000  19.580000      19.580000      175822            NaN
4034  19.500000  19.510000      19.510000           0            NaN
4608  19.790000  19.790000      19.790000           0            NaN
4611  19.770000  19.780000      19.780000           0            NaN

In [75]:
merged_df

,Datetime,Open_base,High_base,Low_base,Close_base,Adj Close_base,Volume_base,Repaired?_base,Open_new,High_new,Low_new,Close_new,Adj Close_new,Volume_new,Repaired?_new
0,2023-06-22 19:58:00-04:00,366.500,366.540,366.50,366.505,366.505,0,NaN,366.500,366.54,366.50,366.505,366.505,0,NaN
1,2023-06-22 19:59:00-04:00,366.500,366.500,366.40,366.450,366.450,0,NaN,366.500,366.50,366.40,366.450,366.450,0,NaN
2,2023-06-23 04:00:00-04:00,364.880,364.880,364.50,364.600,364.600,0,NaN,364.880,364.88,364.50,364.600,364.600,0,NaN
3,2023-06-23 04:01:00-04:00,364.550,364.630,364.55,364.580,364.580,0,NaN,364.550,364.69,364.55,364.640,364.640,0,NaN
4,2023-06-23 04:02:00-04:00,364.610,364.610,364.50,364.510,364.510,0,NaN,364.620,364.62,364.50,364.510,364.510,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4528,2023-06-29 18:14:00-04:00,363.935,363.950,363.92,363.920,363.920,0,NaN,363.935,363.95,363.92,363.920,363.920,0,NaN
4529,2023-06-29 18:15:00-04:00,363.900,363.940,363.85,363.940,363.940,0,NaN,363.900,363.94,363.85,363.940,363.940,0,NaN
4530,2023-06-29 18:16:00-04:00,363.920,363.980,363.92,363.980,363.980,0,NaN,363.920,363.98,363.92,363.980,363.980,0,NaN
4531,2023-06-29 18:17:00-04:00,363.990,364.030,363.99,364.030,364.030,0,NaN,363.990,364.03,363.99,364.030,364.030,0,NaN
4532,2023-06-29 18:18:00-04:00,364.020,364.025,364.02,364.025,364.025,0,NaN,364.020,364.03,364.00,364.030,364.030,0,NaN

In [9]:
path = r'C:\Users\kangb\OneDrive\Desktop\Stock data\Yahoo Finance'
file_paths = glob.glob(path + "/*.csv")


qqq_list = []
tqqq_list = []
sqqq_list = []

for file_path in file_paths:
    file_name = os.path.basename(file_path)  # Extract the filename from the file path
    if file_name.startswith('QQQ'):
        qqq_list.append(file_path)
    elif file_name.startswith('TQQQ'):
        tqqq_list.append(file_path)
    elif file_name.startswith('SQQQ'):
        sqqq_list.append(file_path)

QQQ (20230623133500000 _ 20230622145900000).csv
QQQ (20230627095800000 _ 20230621123400000).csv
QQQ (20230627145900000 _ 20230622111700000).csv
SQQQ (20230623135100000 _ 20230622083000000).csv
SQQQ (20230627095700000 _ 20230621123300000).csv
SQQQ (20230627145900000 _ 20230622111300000).csv
TQQQ (20230622145900000 _ 20230621145900000).csv
TQQQ (20230623135400000 _ 20230622091600000).csv
TQQQ (20230627095600000 _ 20230622084200000).csv
TQQQ (20230627145900000 _ 20230622111300000).csv

In [10]:
qqq_list

['C:\\Users\\kangb\\OneDrive\\Desktop\\Stock data\\Yahoo Finance\\QQQ (20230623133500000 _ 20230622145900000).csv',
 'C:\\Users\\kangb\\OneDrive\\Desktop\\Stock data\\Yahoo Finance\\QQQ (20230627095800000 _ 20230621123400000).csv',
 'C:\\Users\\kangb\\OneDrive\\Desktop\\Stock data\\Yahoo Finance\\QQQ (20230627145900000 _ 20230622111700000).csv']

In [ ]:
# Merge QQQ files
qqq_merged = pd.DataFrame()
for file_path in qqq_list:
    df = pd.read_csv(file_path)
    qqq_merged = pd.concat([qqq_merged, df], ignore_index=True)
qqq_merged.drop_duplicates(inplace=True)

# Check for duplicate values in "Date" column
if qqq_merged['Date'].duplicated().any():
    print("Duplicate values found in the 'Date' column of merged QQQ CSV.")

# Check for missing values in "Date" column
start_time = datetime.strptime(qqq_merged['Date'].iloc[0], "%H:%M")
for i in range(1, len(qqq_merged)):
    current_time = datetime.strptime(qqq_merged['Date'].iloc[i], "%H:%M")
    expected_time = start_time + timedelta(minutes=i)
    if current_time != expected_time:
        print("Missing value found in the 'Date' column of merged QQQ CSV.")
        break

#qqq_merged.to_csv('/path/to/folder/merged_QQQ.csv', index=False)

# Merge TQQQ files
tqqq_merged = pd.DataFrame()
for file_path in tqqq_list:
    df = pd.read_csv(file_path)
    tqqq_merged = pd.concat([tqqq_merged, df], ignore_index=True)
tqqq_merged.drop_duplicates(inplace=True)

# Check for duplicate values in "Date" column
if tqqq_merged['Date'].duplicated().any():
    print("Duplicate values found in the 'Date' column of merged TQQQ CSV.")

# Check for missing values in "Date" column
start_time = datetime.strptime(tqqq_merged['Date'].iloc[0], "%H:%M")
for i in range(1, len(tqqq_merged)):
    current_time = datetime.strptime(tqqq_merged['Date'].iloc[i], "%H:%M")
    expected_time = start_time + timedelta(minutes=i)
    if current_time != expected_time:
        print("Missing value found in the 'Date' column of merged TQQQ CSV.")
        break

#tqqq_merged.to_csv('/path/to/folder/merged_TQQQ.csv', index=False)

# Merge SQQQ files
sqqq_merged = pd.DataFrame()
for file_path in sqqq_list:
    df = pd.read_csv(file_path)
    sqqq_merged = pd.concat([sqqq_merged, df], ignore_index=True)
sqqq_merged.drop_duplicates(inplace=True)

# Check for duplicate values in "Date" column
if sqqq_merged['Date'].duplicated().any():
    print("Duplicate values found in the 'Date' column of merged SQQQ CSV.")

# Check for missing values in "Date" column
start_time = datetime.strptime(sqqq_merged['Date'].iloc[0], "%H:%M")
for i in range(1, len(sqqq_merged)):
    current_time = datetime.strptime(sqqq_merged['Date'].iloc[i], "%H:%M")
    expected_time = start_time + timedelta(minutes=i)
    if current_time != expected_time:
        print("Missing value found in the 'Date' column of merged SQQQ CSV.")
        break